{% load static %}   <!-- This tag connecting to static files (CSS,JS,IMAGES) -->
{% load phil_tags %}

<!DOCTYPE html>
<html>
<head>
        <title>{{ title }}</title>
    	<link type="text/css" href="{% static 'phil/css/styles.css' %}" rel="stylesheet" />
    	<link rel="shortcut icon" href="{% static 'phil/images/main.ico' %}" type="image/x-icon"/>
</head>
<body>

{% block mainmenu %}

		<div class="header">
            <table width="100%"><tr><td width="170">
            <a href="tel:+79216544880" class="contact"><img height="20" src="{% static 'phil/images/whatsapp.png' %}">+79216544880</a><br>
            <a href="https://t.me/Phil_naz" class="contact"><img height="20" src="{% static 'phil/images/telegram.png' %}">@Phil_naz</a><br>
            <a href="mailto:6544880@mail.ru" class="contact"><img height="20" src="{% static 'phil/images/email.png' %}">6544880@mail.ru</a><br>
</td><td width="150px">
            <a href="https://www.youtube.com/channel/UC-hDYi0n6e4Hzgu5IHKtP4Q" target="_blank"><img height="45" src="{% static 'phil/images/youtube.png' %}"></a>
            <a href="https://vk.com/id668104" target="_blank"><img height="45" src="{% static 'phil/images/vk.png' %}"></a>
            <a href="https://www.facebook.com/profile.php?id=100007783784310" target="_blank"><img height="45" src="{% static 'phil/images/fb.png' %}"></a>

            </td><td>
			<ul class="mainmenu">

			<li class="logo"><a href="{% url 'phil_home' %}"><div class="logo"></div></a></li> <!-- LOGO -->
            <!-- Top menu bar -->
    {% phil_menucat as menu %}
            <!-- Top menu from file templrtags/phil_tags.py -->
    {% for m in menu %}
         {% if not forloop.last %}
         <li class="topmenu"><a href="{% url m.url_name %}">{{m.name}}</a></li>
         {% else %}
         <td><li class="last"><a href="{% url m.url_name %}">{{m.name}}</a></li></td>
        {% endif %}
    {% endfor %}
            </ul>

            <div class="clear"></div>
            </td></tr></table>
          </div>


{% endblock mainmenu %}

<table><tr><td height="34"> </td> </tr></table>
{% block content %}
{% endblock content %}
<!-- Footer -->
<table class="bottom">

    <tr><td align="center"><div>
		<p>
&copy; <script language="javascript" type="text/javascript"><!--
var d = new Date();

var day=new Array("Воскресенье","Понедельник","Вторник",
"Среда","Четверг","Пятница","Суббота");


var month=new Array("января","февраля","марта","апреля","мая","июня",
"июля","августа","сентября","октября","ноября","декабря");

document.write(d.getFullYear() + "г.");
//--></script>
		Частичное или полное копирование информации с данного сайта для распространения на других ресурсах, в том числе и бумажных, без разрешения запрещено.</p>
	</div></td></tr>
</table>
</body>
</html>